.App {
  height: 100vh;
  padding: 20px 0px;
  background-color: #dddddd;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  display: block;
  justify-content: center;
  align-items: center;
}

.container-calculator {
  width: 400px;
  height: 525px;
  padding: 25px;
  background-color: #123c4a;
  border-radius: 15px;
  border: 3px solid black;
  margin: auto;
}

.row {
  margin: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coder-info {
  text-align: center;
  margin: 20px;
  font-size: 24px;
  color: #123c4a;
  font-weight: bold;
}

.link-info {
  color: orangered;
  text-decoration: none;
}

.link-info:hover {
  color: black;
}
